.rixo-calendar, .rixo-calendar * {
  box-sizing: border-box;
}
ol.rixo-calendar {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.rixo-calendar {
  li {
    width: 33%;
    padding: 10px;
  }
  li:nth-child(odd) {
    background: deepskyblue;
  }
  li:nth-child(even) {
    background: lightblue;
  }
}
